@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

body{
    background: #12181B;
    height: 100vh;
    padding-top: 1px;
}

.title{
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 10%;
}

.display{
    color: #fff;
    text-align: center;
    font-size: 1.8em;
    margin: 1em 0;
}

.announcer{
    font-size: 3em;
}

.hide{
    display: none;
}

.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile{
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    cursor: pointer;
}

.playerX{
    color: #09C372;
}

.playerO{
    color: #498AFB;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#reset{
    background: #FF3860;
    font-size: 1.5rem;
    color: #fff;
    padding: 0.45rem;
    margin-left: 1em;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}